* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

.titulo {
  width: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
}
header {
  background: rgb(254, 254, 254);
  background: linear-gradient(
    0deg,
    rgba(254, 254, 254, 1) 0%,
    rgba(68, 224, 149, 1) 35%,
    rgba(22, 217, 123, 1) 100%
  );
  padding: 0.5rem 0 2rem 0;
}

.container_tarjetas {
  display: flex;
  justify-content: center;
}
.logo {
  width: 100px;
  height: 100px;
}

.container_imagen {
  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
}

.imagen {
  margin-top: 25px;
  width: 1000px;
}

.texto_cortes {
  margin-top: 25px;
  text-align: center;
  font-size: 3.5rem;
}

.texto_cortes_oferta {
  margin-top: 25px;
  text-align: center;
  font-size: 3.5rem;
  background: rgb(215, 22, 22);
  background: linear-gradient(
    90deg,
    rgba(215, 22, 22, 1) 48%,
    rgba(224, 193, 68, 1) 64%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#parte_principal {
  background-color: white;
}

.tarjeta {
  margin: 2rem;
  max-width: 300px;

  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}
.tarjeta_imagen {
  width: 100%;
  height: 240px;
}

.tarjeta_imagen:hover {
  transform: scale(1.1);
}
.tarjeta_titulo {
  text-align: center;
  margin: 10px 0;
}
.tarjeta_descripcion {
  padding: 0 1rem 1rem 1rem;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1320px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  background: rgb(254, 254, 254);
  background: linear-gradient(
    180deg,
    rgba(254, 254, 254, 1) 0%,
    rgba(22, 215, 155, 1) 35%,
    rgba(68, 224, 149, 1) 100%
  );
  padding: 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.caja {
  display: grid;
  padding: 3rem;
  grid-row-gap: 20px;
  justify-content: center;
}
.caja_imagen {
  text-align: right;
  padding: 2rem;
  width: 50%;
}
/* CAJA FORMULARIO E IFRAME */
.caja_contacto {
  display: grid;
  grid-row-gap: 20px;
  justify-content: center;
}
.contenedor_form .form .form-header .form-title {
  font-weight: normal;
}
.contenedor_form .form {
  background: rgba(0, 0, 0, 0.6);

  max-width: 1150px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}
.contenedor_form .form .form-label {
  display: grid;
  font-size: 16px;
}
/* fOOTER */
.iconofacebook {
  margin-right: 10px;
}
.iconosredes {
  margin-top: 20px;
}
.iconored {
  width: 25px;
  height: 25px;
}
.imagencortes_uno {
  width: 100vh;
}

.imagencortes_dos {
  width: 100vh;
}

.text {
  text-align: center;
}
.texti {
  padding-left: 3rem;
  padding-top: 5%;
}
.mapa {
  position: relative;
  overflow: hidden;
  padding-top: 30.25%;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }
  .texti {
    padding-left: 3rem;
    padding-top: 5%;
    width: 50%;
  }
  .mapa {
    padding-top: 5%;
  }
  .mapa_responsive {
    width: 500px;
    height: 350px;
  }
  .nav {
    display: flex;
  }
  .nav_item {
    margin: 0 0 0 1.5rem;
  }
  .nav__list {
    list-style: none;
    display: flex;
  }
  .nav__link {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
  }
  .nav__link:hover {
    opacity: 0.7;
  }
  .caja {
    width: 80%;
    grid-template-columns: auto auto;
    grid-template-areas:
      "texto imagenuno"
      "texto imagendos";
    grid-column-gap: 3rem;
    justify-items: center;
  }
  .caja_contacto {
    width: 80%;
    grid-template-columns: 600px 300px;
    grid-template-areas:
      "mapa_google formulario"
      "mapa_google formulario";
  }
  .texti {
    margin-top: 2rem;
  }
  .text {
    grid-area: texto;
    text-align: center;
    justify-items: center;
  }
  .imagencortes_uno {
    grid-area: imagenuno;
    animation: fadeIn 0.5s;
  }
  .imagencortes_dos {
    grid-area: imagendos;
    animation: fadeIn 0.5s;
  }

  .mapa {
    grid-area: mapa_google;
  }
  .contenedor_form {
    grid-area: formulario;
  }
  .imagen {
    animation: fadeIn 1s;
  }

  .footer {
    margin-top: 7rem;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      filter: blur(20px);
    }
    10% {
      opacity: 1;
      filter: brightness(2) blur(10px);
    }
  }
}
