* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background: rgb(254, 254, 254);
  background: linear-gradient(0deg, rgb(254, 254, 254) 0%, rgb(68, 224, 149) 35%, rgb(22, 217, 123) 100%);
}

.logo {
  width: 100px;
  height: 100px;
}

.texto_cortes {
  margin-top: 25px;
  text-align: center;
  font-size: 3.5rem;
}

/* Tarjetas en mobile*/
.tarjeta {
  margin: 2rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}

.tarjeta_imagen {
  width: 100%;
  height: 100%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2832, 44, 196, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: 1px solid rgba(32, 44, 196, 0.8);
}

.imagen {
  margin-top: 25px;
  width: 1000px;
}

#parte_principal {
  background-color: white;
}

.titulo_index {
  padding-top: 2rem;
}

.texto_cortes_oferta {
  margin-top: 25px;
  text-align: center;
  font-size: 3.5rem;
  background: rgb(215, 22, 22);
  background: linear-gradient(90deg, rgb(215, 22, 22) 48%, rgb(224, 193, 68) 64%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate__animated.animate__bounceIn {
  --animate-duration: 4s;
}

.footer {
  background: rgb(254, 254, 254);
  background: linear-gradient(180deg, rgb(254, 254, 254) 0%, rgb(22, 215, 155) 35%, rgb(68, 224, 149) 100%);
  padding: 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.iconofacebook {
  margin-right: 10px;
}

.iconosredes {
  margin-top: 20px;
}

.iconored {
  width: 25px;
  height: 25px;
}

.caja {
  display: grid;
  padding: 3rem;
  grid-row-gap: 20px;
  justify-content: center;
}

.imagencortes_uno {
  width: 100vh;
  height: auto;
}

.imagencortes_dos {
  width: 100vh;
  height: auto;
}

.text {
  text-align: center;
}

.texti {
  padding-left: 3rem;
  padding-top: 5%;
}

.mapa {
  position: relative;
  overflow: hidden;
  padding-top: 30.25%;
}

.caja_contacto {
  display: grid;
  grid-row-gap: 20px;
  justify-content: center;
}

.contenedor_form .form .form-header .form-title {
  font-weight: normal;
}

.contenedor_form .form {
  background: rgba(0, 0, 0, 0.6);
  max-width: 1150px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}

.contenedor_form .form .form-label {
  display: grid;
  font-size: 16px;
}

@media (min-width: 1024px) {
  a:hover {
    color: black;
  }
  .container {
    width: 80%;
  }
  .texti {
    padding-left: 3rem;
    padding-top: 5%;
    width: 50%;
  }
  .mapa {
    padding-top: 5%;
  }
  .mapa_responsive {
    width: 500px;
    height: 350px;
  }
  .nav__link {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
  }
  .nav__link:hover {
    opacity: 0.5;
  }
  .caja {
    width: 80%;
    margin: 0 auto;
    grid-template-columns: auto auto;
    grid-template-areas: "texto texto" "imagenuno imagendos";
    grid-column-gap: 1rem;
    justify-items: center;
  }
  .caja_contacto {
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 600px 300px;
    grid-template-areas: "mapa_google formulario" "mapa_google formulario";
  }
  .texti {
    justify-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .text {
    grid-area: texto;
    text-align: center;
    justify-items: center;
  }
  .imagencortes_uno {
    grid-area: imagenuno;
    animation: fadeIn 0.5s;
    height: 600px;
  }
  .imagencortes_dos {
    grid-area: imagendos;
    animation: fadeIn 0.5s;
    height: 600px;
  }
  .mapa {
    grid-area: mapa_google;
  }
  .contenedor_form {
    grid-area: formulario;
  }
  .imagen {
    animation: fadeIn 1s;
  }
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1320px;
  }
  .container_tarjetas {
    display: flex;
    justify-content: center;
  }
  .container_imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }
  .tarjeta {
    margin: 2rem;
    max-width: 300px;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
  }
  .tarjeta .tarjeta_imagen {
    width: 100%;
    height: 240px;
  }
  .tarjeta:hover {
    transform: scale(1.1);
  }
  .tarjeta .tarjeta_titulo {
    text-align: center;
    margin: 10px 0;
  }
  .tarjeta .tarjeta_descripcion {
    padding: 0 1rem 1rem 1rem;
  }
  .tarjeta .tarjeta_precio {
    position: relative;
    justify-content: flex-end;
    text-align: flex-end;
    bottom: -55px;
  }
  .tarjeta .tarjeta_precio_uno {
    position: relative;
    justify-content: flex-end;
    text-align: flex-end;
    bottom: -70px;
  }
  .tarjeta .tarjeta_precio_tres {
    position: relative;
    justify-content: flex-end;
    text-align: flex-end;
    bottom: -35px;
  }
  .tarjeta .tarjeta_precio_picanha {
    position: relative;
    justify-content: flex-end;
    text-align: flex-end;
    bottom: -95px;
  }
  .tarjeta .tarjeta_precio_rack {
    position: relative;
    justify-content: flex-end;
    text-align: flex-end;
    bottom: -83px;
  }
  .footer {
    margin-top: 7rem;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      filter: blur(20px);
    }
    10% {
      opacity: 1;
      filter: brightness(2) blur(10px);
    }
  }
}

/*# sourceMappingURL=style.css.map */
