.text {
  text-align: center;
}
.texti {
  padding-left: 3rem;
  padding-top: 5%;
}
.mapa {
  position: relative;
  overflow: hidden;
  padding-top: 30.25%;
}
.caja_contacto {
  display: grid;
  grid-row-gap: 20px;
  justify-content: center;
}
.contenedor_form .form .form-header .form-title {
  font-weight: normal;
}
.contenedor_form .form {
  background: rgba(0, 0, 0, 0.6);

  max-width: 1150px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}
.contenedor_form .form .form-label {
  display: grid;
  font-size: 16px;
}
