@media (min-width: 768px) {
  a:hover {
    color: black;
  }
  .container {
    width: 80%;
  }
  .texti {
    padding-left: 3rem;
    padding-top: 5%;
    width: 50%;
  }
  .mapa {
    padding-top: 5%;
  }
  .mapa_responsive {
    width: 500px;
    height: 350px;
  }

  .nav__link {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      opacity: 0.5;
    }
  }

  .caja {
    width: 80%;
    margin: 0 auto;
    grid-template-columns: auto auto;
    grid-template-areas:
      "texto texto"
      "imagenuno imagendos";
    grid-column-gap: 1rem;
    justify-items: center;
  }
  .caja_contacto {
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 600px 300px;
    grid-template-areas:
      "mapa_google formulario"
      "mapa_google formulario";
  }
  .texti {
    justify-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .text {
    grid-area: texto;
    text-align: center;
    justify-items: center;
  }
  .imagencortes_uno {
    grid-area: imagenuno;
    animation: fadeIn 0.5s;
    height: 600px;
  }
  .imagencortes_dos {
    grid-area: imagendos;
    animation: fadeIn 0.5s;
    height: 600px;
  }

  .mapa {
    grid-area: mapa_google;
  }
  .contenedor_form {
    grid-area: formulario;
  }
  .imagen {
    animation: fadeIn 1s;
  }
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1320px;
  }
  .container_tarjetas {
    display: flex;
    justify-content: center;
  }
  .container_imagen {
    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
  }
  .tarjeta {
    margin: 2rem;
    max-width: 300px;

    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
    border-radius: 5px;

    .tarjeta_imagen {
      width: 100%;
      height: 240px;
    }
    &:hover {
      transform: scale(1.1);
    }
    .tarjeta_titulo {
      text-align: center;
      margin: 10px 0;
    }
    .tarjeta_descripcion {
      padding: 0 1rem 1rem 1rem;
    }
  }

  .footer {
    margin-top: 7rem;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      filter: blur(20px);
    }
    10% {
      opacity: 1;
      filter: brightness(2) blur(10px);
    }
  }
}
